ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .box2 {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 0.5em;
    
  }

  .single-course {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .single-course-image{
    position: relative;
    display: inline-block;
    font-size: 18px;
    
    color: white;
    margin: 0px 4px 4px;
    border-radius: 6px;
    text-align: center;
    transition: top .01s linear;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
  }