<div class="imageBlock">
  <img src={{name}}>
</div>
<div>
  <p> Course : {{ course.name }}</p>
  <p> Description : {{ course.description }}</p>
  <p> Rating : {{ course.rating }}</p>
</div>
<div >
  <app-single-course-meniu (meniuChanged)="meniuChangedhandler($event)"></app-single-course-meniu>
  <div style="background-color: red"  class="courseContent floatLeft">
    <div *ngIf="clickedmenuName=='home'"><app-course-home class="container" [course]=course></app-course-home></div>
    <div *ngIf="clickedmenuName=='activity'"><app-course-activity ></app-course-activity></div>
    <div *ngIf="clickedmenuName=='drive'"><app-course-drive ></app-course-drive></div>
    <div *ngIf="clickedmenuName=='events'"><app-course-events ></app-course-events></div>
    <div *ngIf="clickedmenuName=='members'"><app-course-members></app-course-members></div>
  </div>
</div>
<!-- *ngxPermissionsOnly="['ROLE_USER','ROLE_ADMIN']" -->