
<nav class="navbar navbar-expand-lg ">
  

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li>
        <button (click)="clicked('home')" class="btn-3d">Home </button>
      </li>
      <li class="nav-item">
        <button (click)="clicked('members')" class="btn-3d">Members</button>
      </li>
      <li class="nav-item">
        <button (click)="clicked('activity')" class="btn-3d">Activity</button>
      </li>
      <li class="nav-item">
        <button (click)="clicked('events')" class="btn-3d">Events</button>
      </li>
      <li class="nav-item">
        <button (click)="clicked('drive')"class="btn-3d">Drive</button>
      </li>
    
    </ul>
  </div>
</nav>
